.bg-color{
    background: #3b5d50 !important;
}

/* Navbar Section */

.nav_bar{
    color: white !important;
    font-size:30px !important;
    font-weight: bold;
}
.in_nav{
    color: rgb(182, 181, 181) !important;
    font-size: xx-large !important;
}
.nav-links{
    justify-content: end;
}
.icons{
    display: flex;
    padding-left: 45px;
}
.icon-cart{
    padding-left: 35px;
}

/* Main Section */

.main-section{
    display: flex;
    padding-top: 90px;
}
.heading-div{
    padding-top: 20px;
}
.main-heading{
    font-size:4cap ;
    font-weight: 700;
    color: white;
    line-height: initial;
    padding-bottom: 18px;
}
.sub-heading{
    font-size:1.8ch;
    font-weight: 400;
    color: rgb(182, 181, 181);
}
.btns-heading{
    display: flex;
    padding-top: 10px;
}
.btn-shop_now{
    color: black;
    background: #f9bf29;
    font-weight: 700 !important;
    margin-right: 10px;
    padding: 10px 25px !important; 
}
.btn-explore{
    color: white !important;
    font-weight:700 !important;
    padding: 10px 29px !important;
}
.img-couch{
    width: 100%;
}

/* Section About Chairs */

.section_chairs{
    margin-top: 90px;
}
.txt-chairs{
    padding-top: 20px;
    color: rgb(154, 153, 153);
}
.btn-chairs_explore{
    color: white;
    font-weight: 700 !important;
    margin-top: 10px;
    padding: 10px 25px !important;
}
.img-chair{
    width: 100%;
}
.chair_description{
    text-align: center;
    margin-top: 20px;
}
.chair-name{
    font-size: large;
    font-weight: 600;
    margin-bottom: 5px;
}
.chair_price{
    font-size: large;
    font-weight: 800;
}

/* Why Choose US */

.choose-us{
    margin-top: 120px;
}
.section-head{
    font-weight: 600;
}
.text-choose_us{
    padding-top: 10px;
    color: rgb(154, 153, 153);
}
.second_section{
    padding-top: 50px;
}
.choose-heading{
    margin-top: 15px;
    margin-bottom: 5px;
}
.choose-para{
    color: rgb(154, 153, 153);
}
.choose-img{
    width: 100%;
    border-radius: 20px;
    
    
}

/* Interior Design */

.interior_design{
    margin-top: 150px;
}
.img-interior_design{
    width: 80%;
    margin-left: 30px;
    border-radius: 20px;
}
.interior-heading{
    font-weight: 600;
}
.interior-para{
    padding-top: 10px;
    color: rgb(154, 153, 153);
    line-height: 29px;
}
.interior-txt{
    display: flex;
    padding-top: 25px;
}
.interior-txt_para{
    color: rgb(154, 153, 153);
    padding-left: 5px;
}

/* Chairs Coloum */

.chairs_coloum{
    margin-top: 100px;
}
.txt_withchair{
    padding-top: 8px;
}
.img_txt{
    display: flex;
}
.coloum_chair{
    width: 34%;
}
.text-coloum_chair{
    color: rgb(154, 153, 153);
    margin-bottom: 5px;
}
.chairs_coloum_link{
    color: black;
    text-decoration: none;
    
}