.bg-color{
    background: #3b5d50 !important;
}

/* Navbar Section */

.nav_bar{
    color: white !important;
    font-size:30px !important;
    font-weight: bold;
}
.in_nav{
    color: rgb(182, 181, 181) !important;
    font-size: xx-large !important;
}
.nav-links{
    justify-content: end;
}
 
.icons{
    display: flex;
    padding-left: 45px;
}
.icon-cart{
    padding-left: 35px;
}
.nav_link_1{
    border-bottom: #f9bf29 5px solid !important;
    color: rgb(182, 181, 181) !important;
}
.nav_link{
    border-bottom:#3b5d50 5px solid  !important;
    color: rgb(182, 181, 181) !important;
}
.nav_link_1:hover{
    color: white !important;
}
.nav_link:hover{
    border-bottom: #f9bf29 5px solid !important;
    color: white !important;
}

/* Main Section */

.main-section{
    display: flex;
    padding-top: 90px;
}
.heading-div{
    padding-top: 20px;
}
.main-heading{
    font-size:4cap ;
    font-weight: 700;
    color: white;
    line-height: initial;
    padding-bottom: 18px;
}
.sub-heading{
    font-size:1.8ch;
    font-weight: 400;
    color: rgb(182, 181, 181);
}
.btns-heading{
    display: flex;
    padding-top: 10px;
}
.btn-shop_now{
    color: black;
    background: #f9bf29;
    font-weight: 700 !important;
    margin-right: 10px;
    padding: 10px 25px !important; 
}
.btn-explore{
    color: white !important;
    font-weight:700 !important;
    padding: 10px 29px !important;
}
.img-couch{
    width: 100%;
}


.second_section{
    background-color: rgb(234, 234, 234);
}




/* Section About Chairs */

.section_chairs{
    margin-top: 90px;
}
.txt-chairs{
    padding-top: 20px;
    color: rgb(154, 153, 153);
}
.btn-chairs_explore{
    color: white;
    font-weight: 700 !important;
    margin-top: 10px;
    padding: 10px 25px !important;
}
.img-chair{
    width: 100%;
}
.chair_description{
    text-align: center;
    margin-top: 20px;
}
.chair-name{
    font-size: large;
    font-weight: 600;
    margin-bottom: 5px;
}
.chair_price{
    font-size: large;
    font-weight: 800;
}
.chair-hover:hover{
    background-color: rgb(218, 218, 218);
}

/* Why Choose US */

.choose-us{
    padding-top: 120px;
}
.section-head{
    font-weight: 600;
}
.text-choose_us{
    padding-top: 10px;
    color: rgb(154, 153, 153);
}
.second_section{
    padding-top: 50px;
}
.choose-heading{
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: 500;
}
.choose-para{
    color: rgb(154, 153, 153);
}
.choose-img{
    width: 100%;
    border-radius: 20px;   
}
.outer_shade{
    position: relative;
}
.img_choose_us{
    position: relative;
    /* box-shadow: 12px 8px 0px 0px #bbb2b2; */
}
.shade{
    position: absolute;
    background: rgba(59, 93, 80, 0.2);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    top: 13px;
    left: 20px;
}

/* Interior Design */

.interior_design{
    margin-top: 150px;
}
.img-interior_design-1{
    width: 40%;
    margin-left: 30px;
    border-radius: 20px;
}
.img-interior_design-2{
    width: 40%;
}
.img-interior_design-3{
    width: 30%;
}
.interior-heading{
    font-weight: 600;
}
.interior-para{
    padding-top: 10px;
    color: rgb(154, 153, 153);
    line-height: 29px;
}
.interior-txt{
    display: flex;
    padding-top: 25px;
}
.interior-txt_para{
    color: rgb(154, 153, 153);
    padding-left: 5px;
}

/* Chairs Coloum */

.chairs_coloum{
    margin-top: 200px;
}
.txt_withchair{
    padding-top: 8px;
}
.img_txt{
    display: flex;
}
.coloum_chair{
    width: 34%;
    background-color:rgb(216, 221, 223) ;

}
.text-coloum_chair{
    color: rgb(154, 153, 153);
    margin-bottom: 5px;
}
.chairs_coloum_link{
    color: black;
    text-decoration: none;
    
}


/* testimonials */

.testimonials{
    margin-top: 100px;
}

.testimonial .carousel-caption {
    position: static !important;
}
.para{
    line-height: 32px;
    font-size: 18px;
    color: rgb(154, 153, 153);
    width: 55% !important;
}
.testimonial-pic{
    padding-top: 25px;
    width: 7%;
    border-radius: 50%;
    margin-bottom: 20px;
}
.testimonial-name{
    font-weight: bold;
    font-size: 15px;
}
.testimonial-designation{
    color: rgb(154, 153, 153);
    font-size: 17px;
    font-weight: 300;
    margin-bottom: 60px;
}

/* Recent Blog */

.recent-blog{
    padding-top: 100px;
    padding-bottom: 190px;
}
.blog_link{
    color: black;
    justify-content: end;
    padding-left: 64px;
    font-weight: bold;
    font-size: 14px;
}
.blog_img{
    width: 100%;
    border-radius: 5%;
}
.blog-img-txt{
    text-decoration: none;
    color: black;
}
.blog-img-subtxt{
    color: rgb(154, 153, 153);
}
.blog_subtxt_link{
    color: black;
    text-decoration: none;
    font-weight: 500;
}

/* Third Section Footer */


.footer_last_section{
    margin-top: 20px;
    margin-bottom: 50px;
}
.footer_img{
    width: 380px;
    height: auto;
    margin-left: 57px;
    position: absolute;
    right: 0;
    top: -110px;

}
.footer-mail_heading{
    display: flex;
    padding-top: 80px;
}
.ri-mail-line{
    color: rgb(154, 153, 153);
    font-size:x-large ;
}
.footer-mail_heading_text{
    color: #3b5d50;
    font-size: x-large;
    font-weight: 700;
    padding-left: 10px;
}
.footer-mail{
    display: flex;
}
.footer_btn{
    background-color: #3b5d50;
    border: 0;
    border-radius: 7px;
    margin-left: 22px;
    width: 70px;
}
.footer_second_heading{
    font-size: xx-large;
    font-weight: 600;
    color: #3b5d50;
    padding-top: 70px;
}
.footer_para{
    color: rgb(154, 153, 153);
}
.p{
    font-size: 14px;
}
.footer_icons{
    display: flex;
    margin-bottom: 50px;
}
.footer_icons_btn{
    border: 0;
    color: #3b5d50;
    background-color: #d6e2de;
    border-radius: 50%;
    margin-right: 8px;
    width: 40px;
    height: 40px;
}

.last_section_txt{
    
    color: rgb(154, 153, 153);
    
}
.last_section_link{
    text-decoration: none;
    color: black;
}
.last_txt{
    display: flex;
    justify-content: end;
}
.last_txt_1{
    text-decoration: none;
    color: black;
}
.last_txt_2{
    text-decoration: none;
    color: black;
    padding-left: 25px;
}

/* Position Relative */

.collage {
    position: relative;
}
.collage > img {
    width: 200px;
}

.collage > img:nth-child(1) {
    height: 550px;
    width: 400px;
}

.collage > img:nth-child(2) {
    position: absolute;
    top: 0;
    right: 30px;
    width: 190px;
}
.collage > img:nth-child(3) {
    position: absolute;
    width: 331px;
    right: 24px;
    bottom: -93px;
    height: 441px;
}


.footer{
    position: relative;
}








/* _______________________________________________________ */

/* Shop Page */

.body{
    background-color: rgb(249, 246, 246);
}

.bg-color{
    background-color: #3b5d50;
}
.shop{
   
    margin-bottom: 0px !important;
    padding-bottom: 155px;
    padding-top: 115px;

}



/* Second Section */


.chairs-row{
    padding-top: 120px;
    padding-bottom: 200px;
}
.second_section_shop{
    background-color: rgb(234, 234, 234);
}
.card_cahir:hover{
    background-color: rgb(218, 218, 218) !important;
}


/* Our Team */

.text-team{
    padding-top: 200px;
    font-weight: 500;
    padding-bottom: 50px;
}

.team_card_name:hover{
    text-decoration: none;
}
.team_card_desig{
    color: rgb(154, 153, 153);
}


/* Testonominal */

.test{
    padding-bottom: 200px;
}

.second_part{
    background-color: rgb(234, 234, 234);
}


/* Services */

.second_section_services{
    padding-top: 100px;
    padding-bottom: 120px;
}


/* Contact Us */

.contact_form{
    padding-top: 100px;
}
.contact_btn{
    background-color: #3b5d50;
    border: 0;
    border-radius: 8px;
    width: 80px;
    height: 47px;
}
.mail_btn{
    background-color: #3b5d50;
    border: 0;
    border-radius: 8px;
    width: 55px;
    height: 47px;
}
.call_btn{
    background-color: #3b5d50;
    border: 0;
    border-radius: 8px;
    width: 55px;
    height: 47px;
}
.p_contact_form{
    padding-left: 8px;
    color: rgb(154, 153, 153);
}
.form_input{
    height: 45px;
}
.form_message{
    height: 130px;
}
.second_part_contact{
    background-color: rgb(234, 234, 234);
    padding-bottom: 150px;
}




